{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'project'
]
%}

<article{{attributes.addClass(classes)}}>
  {% block content %}
    {{ content.field_videos}}
    <div class="container container-project mt-5">
      <h2 class="text-center">{{ label }}</h2>
        <div class="row">
          <div class="col-md-4 col-12">
            {{ content.body}}
            <div class="element-invisible d-none {{content.field_external_link.0}}" data-visible="{{content.field_external_link.0}}">Abre en una nueva ventana</div>
           {#  {% if content.field_external_link.0 == "TRUE" %}
              <div class="element-invisible" data-visible="{{content.field_external_link.0}}">Abre en una nueva ventana</div>
            {% endif %}
            {% if content.field_external_link.0 == 'TRUE' %}
              <div class="element-invisible">Abre en una nueva ventana</div>
            {% endif %}
            {% if content.field_external_link.0 == TRUE %}
              <div class="element-invisible">Abre en una nueva ventana</div>
            {% endif %} #}
          </div>
          <div class="col-md-8 col-12">
            <div class="{{attributes.class.0}}"></div>
            {{ content.field_image }}
          </div>
        </div>
    {% if not page %}
      <h2{{title_attributes}}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}

    {% if display_submitted %}
      <footer>
        {{ author_picture }}
        <div{{author_attributes}}>
          {% trans %}Submitted by
          {{ author_name }}
          on
          {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}
  </div>
  {% endblock %}
</article>
